body,
button {
  font-family: Avenir Next, YuGo-Medium, YuGothic-Medium, NotoSansCJKjp-DemiLight, Hiragino Sans, メイリオ, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.7;
  max-width: 25em;
  margin: 2em auto;
  padding: 1em;
  letter-spacing: .03rem;
  color: #333;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h1:after {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: '';
  vertical-align: middle;
  background-image: url(icon.png);
  background-position: 0 -.07em;
  background-size: contain;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 1.2em;
  padding: .3em;
  border-radius: .2em;
  box-shadow: 3px 3px 8px #c1c1c1;
}

label:first-child {
  width: 17em;
}

label:nth-child(2) {
  display: flex;
  align-items: baseline;
}

input,
textarea {
  font-size: .9em;
  margin: 0;
  border: none;
  outline: none;
}

input {
  width: 90%;
}

textarea {
  width: 99%;
  height: 9em;
  resize: none;
  border: none;
  outline: none;
}

input:valid {
  border-bottom: 1px solid #7bdaff;
}

::-webkit-input-placeholder {
  line-height: 1em;
  color: #c1c1c1;
}

.sender {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  font-size: .75em;
  line-height: .8em;
  margin: 1em;
  margin-right: 0;
  padding: .8em .6em;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #3875da;
  box-shadow: 2px 2px 8px #c1c1c1;
}

button:disabled {
  background-color: #c1d1ec;
}
